body {
    background-color: white;
}
h1 {
    color: maroon;
    margin-left: 40px;
}
p {
    color: maroon;
    margin-left: 40px;
}
ol li{
    background: wheat;
    color: maroon;
    margin-left: 40px;
}
