body {
    background-image: url(Map.png);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}
h1 {
    color: maroon;
    margin-left: 40px;
}
p {
    color: maroon;
    margin-left: 40px;
}
ol li{
    color: maroon;
    margin-left: 40px;
}


